@model IEnumerable<Badass.Core.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<a class="btn btn-primary my-2 mx-2" style="width:10%" asp-action="Create">Create New</a>
<div class="card h-100 mx-2">
    <div class="card-body">
        <div class="p-0 mx-0 row">
            <h3 class="card-title col-md-8">Posts</h3>
            <form asp-area="Admin" asp-controller="Posts" asp-action="Index" id="filterForm" class="col-md-4">
                <div class="form-group m-0">
                    <label for="filterPostId" class="control-label">Filter by Post </label>
                    <select id="postsfilter" name="filterPostId" class="form-control" asp-items="ViewBag.PostTypeId">
                        <option value="" selected>Select PostType</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Row</th>
                        <th>
                            @Html.DisplayNameFor(model => model.PostType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Body)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UpdatedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UpdatedDate)
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PostType.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td >
                                @Html.DisplayFor(modelItem => item.Body)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedBy.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdatedBy.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdatedDate)
                            </td>
                            <td class="mb-auto">
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        $("#postsfilter").on('change', function () {
            $("#filterForm").submit();
        });

    </script>
}